{%- extends "base.j2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
                <h1>Introduction</h1>
                <p>
                    Hello! I'm Martin Kemp, an entrepreneur working in software development.
                    <br>
                    I'm the founder of <a href="https://www.foxandducksoftware.co.uk">Fox and Duck Software Ltd.</a> and the CTO of <a href="http://www.pixelwarpstudios.com">Pixelwarp Ltd.</a>
                    <br>
                    If you wish to get in touch please email me <a href="mailto:martin@martinke.mp">here</a>, you can view my past work at the CV tab.

                    Thanks!
                </p>
        </div>
    </div>
{% endblock %}
